
.icon-icon-form {
	background-image: url('../img/icon-form.png');
	background-repeat: no-repeat;
}

.icon-icon-writing {
	background-image: url('../img/icon-writting.png');
	background-repeat: no-repeat;
}

.icon-logo-konsole {
	background-image: url('../img/logo-konsole.png');
	background-repeat: no-repeat;
}

.icon-icon-console {
	background-image: url('../img/icon-console.png');
	background-repeat: no-repeat;
}

.icon-triangles {
	background-image: url('../img/triangles.png');
	background-repeat: no-repeat;
}