@media screen and (min-width: 480px) {
    .min480 {
        display: block;
    }
    #row3 {
        margin: 40px auto;
    }
}

@media screen and (min-width: 600px) {
    .min600 {
        display: none;
    }
    #row1 {
        position: relative; 
    }
    #col2 {
        border-left: 1px solid #E3E3E3;   
    }
    #col1, #col2 {
        width:50%;
        float: left;
    }
    #col1 .box-wrapper {
        position: absolute;   
        bottom: 0;
        width: 50%;
    }
    #col2 .box, #col2 .long-box {
      float: left;
    }
    .long-box p {
        font-size: .9em;
    }
        #slider2 ul li {
        padding: 40px;
    }
}
@media screen and (min-width: 800px) {
    .min800 {
        display: block;
    }
}
@media screen and (min-width: 960px) {
    body {
        font-size: 17px;   
        padding-top: 100px;
    }
    #header {
        height: 100px;   
    }
    #logo {
        width: 210px;
    }
    .wrapper {
        width: 960px;
        height: 100%;
        margin: 0 auto;
    }
    #col2 {
        border-right: 1px solid #E3E3E3; 
        font-size: .9em;
    }
    #row2 {
        padding: 50px 0;  
        border-left: 1px solid #E3E3E3;  
        border-right: 1px solid #E3E3E3;
    }
    #console .border-box {
        border-left: 1px solid #E3E3E3;
    }
    .long-box div {
        width: 80%;
    }
    #row3 {
        margin: auto;
        padding: 65px 0;
        font-size: .9em;
    }
    #slider1 ul li {
        padding: 5%;
    }
    #slider2 {
        font-size: .9em;
    }
    #console div div, #form div div {
        width: 80%;
        height: 56px;
        margin-top: -28px;
    }
    #footer {
        margin-top: 40px;
    }
}