@font-face {
    font-family: 'titilliumregular';
    src: url('../fonts/titillium-regular-webfont.eot');
    src: url('../fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-regular-webfont.woff2') format('woff2'),
         url('../fonts/titillium-regular-webfont.woff') format('woff'),
         url('../fonts/titillium-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'titilliumbold';
    src: url('../fonts/titillium-semibold-webfont.eot');
    src: url('../fonts/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-semibold-webfont.woff2') format('woff2'),
         url('../fonts/titillium-semibold-webfont.woff') format('woff'),
         url('../fonts/titillium-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
body {
    font-family: 'titilliumregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1em;
    padding-top: 60px;
}
b {
    font-weight: 600;
}
p {
    text-align: justify;
    line-height: 1.5em;
}

a, .red-color {
    color: #df2027;
}
.red-bg {
    background-color: #df2027;
}
.white-color {
    color: #ffffff;
}
.white-bg {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.min480 {
    display: none;
}
.wrapper {
    height: 100%;
}

/*HEADER SECTION*/
#header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #ffffff;
    height: 60px;
    border-bottom: 1px solid #c8c8c8;
    z-index: 100;
}
#logo {
    width: 140px;
    height: 100%;
    margin-left: 5%;
}
.svg-bg {
    background-size: contain;
    background-position: center;
}
.floatfix {
    overflow:auto;
}
/*end of HEADER*/


/*MAIN SECTION*/
#content {
    background-color: #F2F2F2;
    border-bottom: 1px solid #E3E3E3;
}
.box {
    position: relative;
    width:33%;
    float: left;
    padding-top: 33%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.long-box {
    position: relative;
    width:67%;
    float: left;
    padding-top: 33%; 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.border-box {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
}
#console .border-box {
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}
#form > div {
    border-bottom: 1px solid #E3E3E3;
}
#console div div, #form div div {
    width: 80%;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -20px auto 0;
}
.box.red-bg {
    width: 34%;
}
#triangles div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    background-size: cover;
}
#col2 .box, #col2 .long-box {
    float: right;
}
.long-box div {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.long-box p {
    font-size: 1em;
}
#col2 {
    border-bottom: 1px solid #E3E3E3;
}
#row2 {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #E3E3E3;
}
#row2 img {
    display: inline-block;
    max-width: 100%;
}
#row3 {
    width: 84%;
    margin: 20px auto;
}
#row3 p {
    max-width: 520px;
    margin: auto;
    color: #909090;
}
/*end of MAIN*/

/*FOOTER SECTION*/
#footer {
    text-align: center;
    margin-top: 20px;
    position: relative;
}
.icon-icon-writing {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
.title {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    margin-left: 10px;
}
#contact {
    width: 84%;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
#contact p {
    text-align: center;
    margin-bottom: 5px;
}
#copyright {
    border-top: 1px solid #E3E3E3;
    padding: 10px 0;
    margin: auto;
}
#copyright p {
    text-align: center;
    margin: auto;
    font-size: .8em;
}
/*end of FOOTER*/

/*SLIDER*/
#slider1 {
    height: 250px;
    color: #909090;
}
#slider2 {
    height: 300px;
    max-width: 600px;
    width: 100% !important;
    margin: auto;
}
.banner { 
    position: relative; 
    overflow: auto; 
}
.banner ul {
    height: inherit;
} 
.banner li { 
    list-style: none; 
}       
.banner ul li { 
    width: 50%;
    float: left; 
    padding: 4%;
    text-align: justify;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.banner ul li p { 
    margin-bottom: 10px;
}
.banner .dots {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 20px;
    text-align: center;
}
.banner .dots li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 12px;
    color: transparent;
    line-height: 0;
    text-indent: -999em;
    background: #6d6d6d;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    transition: background .5s;
}
.banner .dots li.active {
    background-color: #000000;
}

/* FORM STYLE */
#contact-form {
    text-align: center;
    width: 84%;
    max-width: 250px;
    margin: 0 auto;
}
.sub-text {
    width:84%;
    margin:0 auto 20px ;
}

#WFIheader {
    height: auto;
    margin: 30px auto 20px;
}
#WFIheader p {
    margin-top: 10px;
    text-align: center;
    color: #df2027;
    font-size: 1.2em;
}
.wf-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 7px auto;
    color: #909090;
    border: 1px solid #C8C8C8;
    border-radius: 0;
    padding: 5px 10px;
    width: 100%;
    font-family: 'titilliumregular', sans-serif;
}
.wf-labelpos {
    display: none !important;
}
.wf-field__0 {
    margin-top: 20px;
}
.clrB {
    width: 50%;
    float: left;
    margin: 10px 0;
    text-align: left;
}
label input {
    display: none;
}
label span.styled-ch {
    height: 12px;
    width: 12px;
    padding: 1px;
    margin-right: 3px;
    border: 1px solid #C8C8C8;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
label span.styled-ch span.ch {
    height: 100%;
    width: 100%;
    display: block;
    opacity: 0;
    background: #e2e2e2;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .s;
    transition: all .2s;
}
[type=checkbox]:checked + span.styled-ch span {
    opacity: 1;
}
input[type="submit"], input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #ffffff;
    background-color: #df2027;
    border-radius: 0;
    border: none;
    margin-top: 20px;
    padding: 10px 0;
    width: 140px;
    font-family: 'titilliumregular', sans-serif;
}
.wf-text {
   color: #C8C8C8; 
}